nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* colors for brand */
nav .navbar-brand .orange
{
    color: #ff7700;
}
nav .navbar-brand .pink
{
    color: #ff007b;
}
nav .navbar-brand .purple
{
    color: #8a00cb;
}
nav .navbar-brand .blue
{
    color: #00c1da;
}

main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.button
{
    background-color: #ff007b;
    border-color: #000;
}

.button:hover
{
    background-color: #00c1da;
}

.stripy:nth-child(odd) {
    background-color: #ffbfdd;
}
.striped {
    background-color: #ff007b;
}

.stripy:nth-child(even) {
    background-color: #ffffff;
}

.blue-head
{
    background-color: #00c1da;
}

.blue-row:nth-child(odd)
{
    background-color: #acdfe6;
}

.bold
{
    font-weight: bold;
    background-color: #e2a3ff;
}

.btn-link {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #ff007b;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
}

.btn-link:hover {
    color: #00c1da;
}